:root{
    --logoColor:#1f373d;
    --highLighterBg: #ffcc01;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    background-color: #fcfcfc;
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

a:hover{
    text-decoration: none;
    color: #aaa;
}

/* Navbar */

#Navbar{
    background-color: #1f373d;
    padding: .5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20000;
    box-shadow: 0px 0px 8px #aaa;
}

#Navbar .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: .5rem 0;
}

/* logo */

.logo{
    width: 30%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 35px;
}

/* btn */
#Navbar #btnBox{
    display: none;
}

#Navbar #btnMenu{
    width: 50px;
    padding: 8px;
    cursor: pointer;
    margin-left: auto;
    border-radius: 3px;
}

#Navbar #btnBox #btnMenu span{
    background-color: #fff;
    display: block;
    height: 3px;
    margin: 4px 0;
    border-radius: 5px;
}

/* #nav */

#nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul li{
    margin-right: 8px;
}

#nav ul li:last-child{
    margin-right: 0px;
}

#nav ul li a{
    padding: .55rem 0px;
    display: block;
    border-bottom: 2px solid transparent;
}

#nav ul li a:hover{
    border-bottom: 2px solid var(--highLighterBg);
}

/* joinBox */

#Navbar .joinBox{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#Navbar .joinBox a{
    padding: .55rem 0;
}

#Navbar .joinBox a:first-child{
    border-bottom: 2px solid transparent;
}

#Navbar .joinBox a:first-child:hover{
    border-bottom: 2px solid var(--highLighterBg);
}

#Navbar .joinBox a:last-child{
    background-color: var(--highLighterBg);
    padding: .55rem 1rem;
    border-radius: 5px;
    transition: color 300ms;
}

#Navbar .joinBox a:last-child:hover{
    color: #fff;
}

@media screen and (max-width:991px) {

    #Navbar #btnBox{
        display: flex;
    }

    #Navbar .container{
        flex-direction: column;
    }

    .logo{
        width: 100%;
    }

    #nav{
        margin-top: .5rem;
        width: 60%;
        margin-left: auto;
        border-radius: 5px 5px 0 0;
        display: none;
    }

    #nav ul{
        flex-direction: column;
        padding: .5rem;
        width: 100%;
    }

    #Navbar .joinBox{
        width: 60% !important;
        border-radius: 0 0 5px 5px;
        margin-left: auto;
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .joinBox a{
        display: block;
        margin: .3rem 0;
        width: fit-content;
    }

}

@media screen and (max-width:576px){
    #Navbar .container{
        padding: .5rem 1rem;
    }
}

@media screen and (max-width:245px) {
    .logo{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;    
    }

    .logo #btnBox{
        margin-top: .5rem;
        margin-left: auto;
    }

    .joinBox a:nth-child(2){
        font-size: 13px;
    }

}

/* Home */

#Home .container .mainBox{
    background-image: linear-gradient(to right, #fff 15% ,  #96bece 0%);
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.mainBox .text{
    padding: 1rem;
    width: fit-content;
}

.mainBox .text h1{
    font-size: 40px;
    color: var(--logoColor);
}

.mainBox .text .inputBox{
    background: #fff;
    border-radius: 5px;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.inputBox i{
    font-size: 15px;
    color: var(--logoColor);
    width: 10%;
    text-align: center;
}

.inputBox input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: .8rem 0;
    width: 90%;
}

.inputBox button{
    background-color: var(--highLighterBg);
    border: none;
    padding: .8rem;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    transition: color 400ms;
}

.inputBox button:hover{
    color: #fff;
}

@media screen and (max-width:325px) {
    .mainBox .text h1{
        font-size: 30px;
    }
    .inputBox i{
        width: 15%;
    }
    .inputBox input{
        width: 75%;
    }
}

@media screen and (max-width:230px) {
    .inputBox i{
        display: none;
    }
    .inputBox input{
        width: 100%;
        border-radius: 5px 0 0 5px;
    }
}


/* scrollText */
#Home .container .mainBox .scrollText{
    text-transform: uppercase;
    transform: rotate(-90deg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;    
    bottom: 70px;
    left: -35px;
}

.mainBox .scrollText i{
    font-size: 18px;
    color: #aaa;
}

.mainBox .scrollText p{
    margin: 0 0 0 10px;
    color: #aaa;
    letter-spacing: 2px;
    font-size: 12px;
}

@media screen and (max-width:320px){
    #Home .container .mainBox .scrollText{
        display: none;
    }
}

/* phoneText */

.mainBox .phoneText{
    background-color: var(--highLighterBg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: fit-content;
    right: 0;
    bottom: 0;
    z-index: 200;
}

.phoneText .phonebox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    border-left: 1px solid #eee;
}

.mainBox .phonebox:nth-child(1){
    border-left: none;
}


.phonebox p{
    color: var(--logoColor);
    font-weight: 600;
}

@media screen and (max-width:991px) {
    .mainBox .phoneText{
        flex-direction: column;
    }
    .phoneText .phonebox{
        border: none;
        border-bottom: 1px solid #eee;
    }

    .mainBox .phonebox:nth-child(2){
        border-bottom: none;
    }
}

/* Statistics */

#Statistics{
    padding: 7rem 0;
}

#Statistics .row{
    align-items: center;
}

#Statistics .text h2{
    color: var(--logoColor);
    margin-bottom: 2rem;
    font-size: 35px;
    font-weight: 600;
}

#Statistics .text p{
    font-size: 12px;
    padding-right: 1rem;
    margin-top: 2rem;
}

#Statistics .items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Statistics .items .item{
    background-color: #f6f5f4;
    padding: 2rem;
    margin: 0 .5rem .5rem 0;
    width: calc((100% / 2) - .5rem);
    text-align: center;
}
#Statistics .items .item:nth-child(2),
#Statistics .items .item:nth-child(4){
    margin-right: 0;
}

#Statistics .items .item span{
    display: block;
    margin-bottom: .5rem;
    font-size: 25px;
    font-weight: 700;
    color: var(--highLighterBg);
}

#Statistics .items .item p{
    margin: 0;
    color: var(--logoColor);
    font-weight: 600;
}

@media screen and (max-width:767px) {
    #Statistics .items{
        margin-top: 1rem;
    }   
}

@media screen and (max-width:360px) {
    #Statistics .items{
        flex-direction: column;
    }
    #Statistics .items .item{
        width: 100%;
        margin: 0 0 .5rem 0;
    }
}

/* Store */

#Store{
    background-color: rgb(247, 247, 247);
    padding: 3rem 0;
}

#Store h2{
    color: var(--logoColor);
    margin-bottom: 2rem;
    font-size: 35px;
    font-weight: 600;
}

#Store .row .apartment{
    margin-bottom: 2rem;
}

#Store .row .apartment .img{
    overflow: hidden;
}

#Store .row .apartment .img img{
    width: 100%;
    transition: transform 500ms;
}

#Store .row .apartment .img:hover img{
    transform: rotate(3deg) scale(1.1);
}

#Store .row .apartment .details{
    padding: 1rem 1.5rem;
}

.apartment .details h6{
    color: var(--logoColor);
    font-weight: 700;
    margin: 0 0 1.5rem 0;
}

.apartment .details .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details .price span{
    display: block;
    color: var(--highLighterBg);
    font-size: 20px;
    font-weight: 600;
}

.details .price .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details .price .icons .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons .icon i{
    margin-right: 2px;
    font-size: 19px;
    color: #777;
}

.icons .icon p{
    margin: 0 6px 0 0;
    color: #aaa;
    font-size: 13px;
}

@media screen and (max-width:280px) {
    .details .price .icons{
        flex-direction: column;
    }
    .details .price .icons .icon{
        margin: 5px 0;
    }
}

/* btn */

#Store .btnBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#Store .btnBox .inputBox{
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    margin-right: 3rem;
    width: 40%;
}

.btnBox .inputBox i{
    font-size: 15px;
    color: var(--logoColor);
    width: 10%;
    text-align: center;
}

.btnBox .inputBox input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: .8rem 0;
    width: 90%;
}

.btnBox .inputBox button{
    background-color: var(--highLighterBg);
    border: none;
    padding: .8rem;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    transition: color 400ms;
}

.btnBox .inputBox button:hover{
    color: #fff;
}

.btnBox .allBtn{
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
    transition: background-color 400ms;
}

.btnBox .allBtn a{
    display: block;
    padding: .6rem;
    color: var(--logoColor);
    transition: color 400ms;
    font-weight: 500;
}

.btnBox .allBtn:hover{
    background-color: var(--highLighterBg);
}

.btnBox .allBtn a:hover{
    color: #fff;
}

@media screen and (max-width:767px){
    #Store .btnBox{
        flex-direction: column;
    }

    #Store .btnBox .inputBox{
        margin: 0;
        width: 75%;
    }

    .btnBox .allBtn{
        margin-top: 1rem;
    }
}

/* How */

#How{
    padding: 4rem 0;
}

#How .topText{
    width: fit-content;
    margin-bottom: 2rem;
}

#How .topText h2{
    color: var(--logoColor);
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 600;   
}

#How .topText p{
    font-size: 13px;
    color: var(--logoColor);
}

#How .row{
    margin-top: 4rem;
}

#How .item{
    background-color: #fff;
    padding: 6rem 3rem 3rem 3rem;
    color: var(--logoColor);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px #777;
}

#How .item >span{
    position: absolute;
    left: -25px;
    top: -31%;
    color: #000;
    font-size: 135px;
    font-weight: 700;
}

#How .item h6{
    color: var(--logoColor);
    font-weight: 600;
    position: relative;
}

#How .item h6 span{
    position: absolute;
    left: -25px;
    color: var(--logoColor);
    font-weight: 700;
}

#How .item p{
    margin: 1rem 0;
    font-size: 13px;
    color: var(--logoColor);
    padding-right: 1.5rem;
}

#How .item a{
    font-size: 14px;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--logoColor);
    color: var(--logoColor);
}

#How .main{
    background-color: var(--highLighterBg);
    color: #fff;
}

#How .main span,
#How .main h6,
#How .main h6 span,
#How .main p{
    color: #fff;
}
#How .main a{
    color: #fff;
    border-bottom: 1px solid #fff;
}

@media screen and (max-width:991px) {
    #How .item{
        margin-bottom: 1rem;
    }
}

/* Services */

#Services{
    padding: 4rem 0;
}

#Services .topText{
    width: fit-content;
    margin-bottom: 2rem;
}

#Services .topText h2{
    color: var(--logoColor);
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 600;   
}

#Services .topText p{
    font-size: 13px;
    color: var(--logoColor);
}

#Services .row .image{
    padding: 1rem;
}

#Services .row .image img{
    width: 100%;
}

#Services .row .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Services .row .item{
    margin-bottom: 1.5rem;
    background-color: #faf8f5;
}

#Services .row .item h6{
    font-size: 20px;
    font-weight: 600;
    color: var(--logoColor);
}

#Services .row .item p{
    margin: 0;
    color: var(--logoColor);
}

@media screen and (max-width:991px) {
    #Services .row .info{
        margin-top: 1.5rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #Services .row .item{
        width: calc((100% / 3) - 1rem );
        margin: 0 .5rem;
        padding: 1rem;
    }
}

@media screen and (max-width:500px) {
    #Services .row .image{
        display: none;
    }
    #Services .row .info{
        flex-direction: column;
        margin: 0;
    }
    #Services .row .item{
        width: 100%;
        padding: 0;
        margin-bottom: 1rem;
    }
}

/* Agent */

#Agent{
    background-color: #f6f5f4;
    padding: 4rem 0;
}

#Agent .topText{
    width: fit-content;
    margin-bottom: 2rem;
}

#Agent .topText h2{
    color: var(--logoColor);
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 600;   
}

#Agent .topText p{
    font-size: 13px;
    color: var(--logoColor);
}

#Agent .agents .image{
    overflow: hidden;
}

#Agent .agents .image img{
    width: 100%;
    transition: transform 400ms;
}

#Agent .agents .image:hover img{
    transform: scale(1.1,1.1);
}

#Agent .agents .caption{
    background-color: #fff;
    padding: 1rem 1.5rem;
}

.agents .caption >h6{
    color: var(--logoColor);
    font-weight: 600;
}

.agents .caption .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.agents .caption .name h6{
    font-size: 11px;
    margin: 0;
    font-weight: 700;
    color: var(--highLighterBg);
}

.agents .caption .name .social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption .name .social i{
    font-size: 20px;
    margin-right: 1rem;
    cursor: pointer;
    transition: color 400ms;
    color: var(--logoColor);
}

.caption .name .social i:last-child{
    margin: 0;
    transition: color 400ms;
}

.caption .name .social i:hover{
    color:#3451f8;
}

.caption .name .social i:last-child:hover{
    color: #f31325;
}

@media screen and (max-width:991px) {
    .agents .caption .name {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .agents .caption .name h6{
        margin-bottom: .5rem;
    }
}

@media screen and (max-width:767px){
    #Agent .agents{
        margin-bottom: 1rem;
    }
}

/* featueres */

#featuer{
    padding: 4rem 0;
}

#featuer .image{
    position: relative;
}

#featuer .row1 .image::before,
#featuer .row2 .image::before{
    font-family: "Font Awesome 5 free";
    font-weight: 600;
    width: fit-content;
    content: "\f3c5  Melbourne,Australia";
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: .5rem;
    transform: translateX(-50%);
    background-color: var(--highLighterBg);
    color: #fff;
}

#featuer .image img{
    width: 100%;
}

#featuer .text h4{
    color: var(--logoColor);
    margin-bottom: 1.5rem;
}

#featuer .text p{
    margin: 0;
    font-size: 13px;
    color: var(--logoColor);
}

@media screen and (max-width:767px) {
    #featuer .row{
        margin-bottom: .5rem;
    }

    #featuer .row1 .textBox,
    #featuer .row3 .textBox{
        order: 0;
    }

    #featuer .row1 .imageBox,
    #featuer .row3 .imageBox{
        order: 1;
    }

}

/* Footer */

Footer{
    padding: 3rem 0;
    background-color: #1f373d;
}

Footer .row1{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
    align-items: center;
    margin-bottom: 2.5rem;
}

Footer .logoText h2{
    color: #fff;
}

Footer .inpBox{
    position: relative;
    border-radius: 5px;
}

Footer .inpBox input{
    width: 100%;
    padding: .5rem .8rem;
    outline: none;
    border-radius: 5px;
    border: none;
}

Footer .inpBox::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 1.5rem;
    content: "\f30b";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #1f373d;
    cursor: pointer;
}

Footer .row2 .col-md-4{
    color: #fff;
}

.row2 .col-md-4 h5{
    font-weight: 700;
    margin-bottom: 2rem;
}

.row2 .col-md-4 p{
    font-size: 13px;
}

Footer .row2 .col-md-2{
    text-align: center;
}

.row2 .col-md-2 h6{
    color: #4d606b;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.row2 .col-md-2 p{
    margin: 0 0 .5rem 0;
    font-size: 13px;
}

.row2 .col-md-2 p a{
    color: #eee;
}

@media screen and (max-width:767px) {
    Footer .inpBox{
        margin-top: 1rem;
        width: 75%;
    }
    Footer .row2 .col-md-4{
        text-align: center;
        margin-bottom: 3rem !important;
    }
    Footer .row2 .col-md-4,
    Footer .row2 .col-md-2{
        margin-bottom: 2rem;
    }
    Footer .row2 .col-md-2:nth-child(4),
    Footer .row2 .col-md-2:nth-child(5){
        margin-bottom: 0rem;
    }
}

@media screen and (max-width:360px){
    Footer .row2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    Footer .row2 .col-md-2{
        margin-bottom: 3rem !important;
    }
    Footer .row2 .col-md-2:last-child{
        margin: 0 !important;
    }

}